.specialisation {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    81deg,
    #e7f0ff 9.01%,
    rgba(232, 241, 255, 0.47) 89.11%
  );
}

.specialisation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  height: auto;
  width: 81.25%;
}

.specialisation-heading {
  font-size: 48px;
  line-height: 67px;
  font-weight: 600;
  color: #1b3c74;
}

.specialisation-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
.specialisation-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 180px;
  background-color: #ffffff;
  box-shadow: 0px 34px 44px 0px #d5dbe470;
  border-radius: 10px;
  cursor: pointer;
}

.specialisation-card img {
  width: 80px;
  height: 80px;
}

.specialisation-card p {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  text-align: center;
  color: #abb6c7;
}

.view-all-button {
  width: 147px;
  height: 50px;
  border-radius: 8px;
  background: var(--primary-color);
  color: white;
  border: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
  cursor: pointer;
}
