.latest-news-section {
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 680px;
}

.latest-news-container {
  width: 81.25%;
}
.latest-news-heading {
  font-size: 16px;
  font-weight: 600;
  line-height: 27px;
  text-align: center;
  color: #2aa7ff;
  margin-bottom: 1rem;
}
.latest-news-subheading {
  font-size: 48px;
  font-weight: 600;
  line-height: 67px;
  text-align: center;
  color: #1b3c74;
  margin-bottom: 2rem;
}
.latest-news-cards {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}
.latest-news-card-details {
  padding: 1rem;
}
.latest-news-card {
  display: flex;
  flex-direction: column;
  width: 363.33px;
  height: 477.77px;
  /* padding: 0px 0px 19.77px 0px; */
  border: 1px solid #00000012;
  border-radius: 10px;
}

.latest-news-card-img {
  width: 100%;
}
.latest-news-card-details h1 {
  color: #1b3c74;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
}
.category-and-date {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-size: 16px;
  font-weight: 500;
  line-height: 27px;
  margin-bottom: 1rem;
  margin-top: -0.5rem;
  color: #77829d;
}
.vertical-dash {
  width: 1px;
  height: 15px;
  background: #dddddd;
}
.author {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-family: Poppins;
  font-size: 17px;
  font-weight: 500;
  line-height: 27px;
  margin-left: -12px;
  color: #1b3c74;
}
